@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-primary-text bg-primary-bg; 
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.direction-rtl {
  direction: rtl;
}

:root {
  --color-primary: #1B84FF;
  --btn-primary: #1B84FF;
  --bg-primary: #fff;
  --text-primary: #424258;
  --text-header: #66aeff;
  --text-secondary: #83838d;
  --text-link: #407fd5;
}

.dark {
  --color-primary: #1e3a8a;
  --bg-primary: #03032e;
  --text-primary: #fff;
  --text-header: #225c9e;
  --text-secondary: #83838d;
  --text-link: #fff;
}

  /* Hide scrollbar for Webkit-based browsers */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for Firefox */
  .scrollbar-hide {
    scrollbar-width: none; /* Firefox */
  }
  
  /* Hide scrollbar for Edge/IE */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
  }  