@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-primary-text bg-primary-bg; 
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.1);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.direction-rtl {
  direction: rtl;
}

:root {
  --color-primary: #407fd5;
  --bg-primary: #fff;
  --text-primary: #03032e;
  --text-link: #407fd5;
}

.dark {
  --color-primary: #1e3a8a;
  --bg-primary: #03032e;
  --text-primary: #fff;
  --text-link: #fff;
}
