@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;  /* Applies Rubik globally to all text */
  }
}
@keyframes pulse {
  0%, 100% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1.1);
  }
}

.direction-rtl{
  direction: rtl;
}

.react-calendar__tile--active {
  background-color: #407fd5; /* Tailwind 'blue-500' */
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background-color: #407fd5; /* Tailwind 'blue-600' */
  color: white;
}